<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVER</key>
	<string>http://scope2.hyper.or.jp</string>
	<key>SERVER_DEBUG</key>
	<string>http://192.168.11.12:3000</string>
	<key>SERVER_DEBUG2</key>
	<string>http://scope.hyper.or.jp</string>
	<key>API_KEY_LOGINS</key>
	<string>/logins.xml</string>
	<key>API_KEY_GROUPS</key>
	<string>/groups.xml</string>
	<key>API_KEY_PLACES</key>
	<string>/places.xml</string>
	<key>API_KEY_PERSONALS</key>
	<string>/personals.xml</string>
	<key>API_KEY_FAMILIES</key>
	<string>/families.xml</string>
	<key>API_KEY_DISASTERS</key>
	<string>/disasters.xml</string>
	<key>API_KEY_DISASTERS_POST</key>
	<string>/disasters</string>
	<key>API_KEY_PERSONAL_SAFETIES_POST</key>
	<string>/personalsafeties.xml</string>
	<key>API_KEY_DEVICE_TOKENS</key>
	<string>/devicetokens.xml</string>
	<key>API_KEY_SHARE_DISASTERS_GET</key>
	<string>/sharedisasters.xml</string>
	<key>TAB_NAME</key>
	<array>
		<string>平常時</string>
		<string>災害時</string>
		<string>設定</string>
	</array>
	<key>DISPLAY_TITLE</key>
	<dict>
		<key>1</key>
		<string>組情報一覧</string>
		<key>2</key>
		<string>世帯一覧</string>
		<key>3</key>
		<string>家族一覧</string>
		<key>4</key>
		<string>個人情報</string>
		<key>11</key>
		<string>災害一覧</string>
		<key>12</key>
		<string>災害情報</string>
		<key>13</key>
		<string>被災者入力</string>
		<key>14</key>
		<string>安否確認</string>
		<key>15</key>
		<string>災害情報画像</string>
		<key>21</key>
		<string>地図</string>
		<key>31</key>
		<string>設定</string>
	</dict>
	<key>DIC_EMERGENCY_KIND</key>
	<array>
		<string>設定なし</string>
		<string>緊急度小</string>
		<string>緊急度中</string>
		<string>緊急度大</string>
		<string>救助要</string>
	</array>
	<key>DIC_DISASTER_STATUS_KIND</key>
	<array>
		<string>なし</string>
		<string>行方不明</string>
		<string>大ケガ</string>
		<string>閉じ込め</string>
		<string>タンス下敷き</string>
		<string>意識不明</string>
	</array>
	<key>DIC_SEX</key>
	<dict>
		<key>1</key>
		<string>男</string>
		<key>2</key>
		<string>女</string>
		<key>3</key>
		<string>その他</string>
	</dict>
	<key>DIC_BLOOD</key>
	<dict>
		<key>1</key>
		<string>A</string>
		<key>2</key>
		<string>B</string>
		<key>3</key>
		<string>O</string>
		<key>4</key>
		<string>AB</string>
		<key>5</key>
		<string>その他</string>
	</dict>
	<key>DIC_WEAK_KIND</key>
	<dict>
		<key>0</key>
		<string>非弱者</string>
		<key>1</key>
		<string>災害弱者</string>
	</dict>
	<key>DIC_PLACE_KIND</key>
	<dict>
		<key>11</key>
		<string>人（通常）</string>
		<key>12</key>
		<string>人（災害弱者）</string>
		<key>13</key>
		<string>人（被災者）</string>
		<key>14</key>
		<string>家</string>
		<key>15</key>
		<string>避難場所</string>
		<key>16</key>
		<string>病院</string>
		<key>17</key>
		<string>災害場所</string>
	</dict>
	<key>DIC_FAMILY_SAFETY_KIND</key>
	<dict>
		<key>0</key>
		<string>安否報告なし</string>
		<key>1</key>
		<string>安否報告あり</string>
	</dict>
	<key>DIC_PERSONAL_SAFETY_KIND</key>
	<dict>
		<key>1</key>
		<string>無事！</string>
		<key>2</key>
		<string>ケガ,不明など</string>
	</dict>
	<key>DIC_TRIAGE_KIND</key>
	<dict>
		<key>0</key>
		<string>設定なし</string>
		<key>1</key>
		<string>緑</string>
		<key>2</key>
		<string>黄</string>
		<key>3</key>
		<string>赤</string>
		<key>4</key>
		<string>黒</string>
	</dict>
	<key>DIC_DONE_KIND</key>
	<dict>
		<key>0</key>
		<string>未対処</string>
		<key>1</key>
		<string>対処済み</string>
	</dict>
</dict>
</plist>
